.add-product {
  &__image {
    width: 260px;
    height: 260px;
    object-fit: cover;
    border-radius: 40px;
    background-color: #ffffff;
    border: 1px solid #d8d8d8;
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 150px;
    }
  }

  .form-control {
    margin-bottom: 1.3rem !important;
  }
}
